<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Документация API</title>
</head>
<body>
    <div>
	<div class="page-header">
		<h1 id="solution">Описание решения</h1>
	</div>
	<h3 id="score">Назначение сервиса</h3>
	<p>Сервис Терминологии предназначен для автоматизации процессов консолидации, первичной обработки и ведения нормативно-справочной информации. Данный компонент предоставляет собой механизм управления процессом ведения нормативно-справочной информации и обеспечивает функции ее интеграции между различными учетными и информационными системами, являясь единым источником непротиворечивой информации о справочниках.</p>

	<h3 id="script">Сценарии работы сервиса</h3>
	<p>Обмен данными между внешними системами и сервисом Терминологии осуществляется в рамках следующих сценариев:
		</p><ol>
			<li><em>Запрос списка справочников.</em>.
			<p>Сервис Терминологии возвращает список всех справочников или актуальных на указанную дату.</p></li>

			<li><em>Запрос элементов заданного справочника текущей или указанной версии.</em>
			<p>Сервис Терминологии возвращает список элементов справочника по идентификатору. Если в запросе указана версия справочника, то сервис возвращает значения этой версии справочника. Если версия не указана, то сервис возвращает значения из актуальной версии.</p></li>

			<li><em>Валидация элементов заданного справочника текущей или указанной версии.</em>
			<p>Сервис Терминологии возвращает информацию о вхождении запрошенного значения в указанный справочник. Если в запросе указана версия справочника, то сервис возвращает значения этой версии справочника. Если версия не указана, то сервис возвращает значения из актуальной версии.</p></li>
            </ol>

	<h2 id="interaction">Описание протокола взаимодействия</h2>
	<p>В качестве протокола взаимодействия используется REST.</p>
        <p>API возвращает данные по 10 элементов на странице. Параметры ответа приведены ниже.</p>
        <p><small><b>Таблица 0. Общие параметры ответа для всех операций сервиса</b></small></p>
    <table class="table">
      <thead>
        <tr>
          <th> № </th>
          <th> Параметр </th>
          <th> Тип </th>
          <th> Описание </th>
        </tr>
      </thead>
	  <tbody>
        <tr> <td> 1. </td> <td> count </td> <td> id </td> <td> Количество элементов</td> </tr>
        <tr> <td> 2. </td> <td> next </td> <td> string </td> <td> Ссылка на следующую страницу с данными </td> </tr>
        <tr> <td> 3. </td> <td> previous </td> <td> string </td> <td> Ссылка на предыдущую страницу с данными </td> </tr>
        <tr> <td> 4. </td> <td> results </td> <td> string </td> <td> Список возвращаемых элементов </td> </tr>
      </tbody>
    </table>


	<h2 id="operations">Описание операций сервиса</h2>

	<h3 id="ResourceReq">Запрос списка справочников</h3>
	<p>Получение информации о справочниках осуществляется с помощью GET-запроса. В качестве адреса должен быть указан URL в формате [base]/api/v1/dir/ или [base]/api/v1/dir/?date=YYYY-MM-DD или [base]/api/v1/dir/?date=YYYY-MM-DD HH:MM. Например,</p>

	<pre>[base]/api/v1/directory/?date=2020-08-20 15:32.</pre>

	<p>Метод возвращает список всех справочников. Если указан параметр date, то возвращает список справочников актуальных на указанную дату. Параметры ответа, которые используются в дальнейшей работе с сервисом приведены в [Таблица 1].</p>
	<p><small><b>Таблица 1. Параметры ответа</b></small></p>
    <table class="table">
      <thead>
        <tr>
          <th> № </th>
          <th> Параметр </th>
          <th> Тип </th>
          <th> Описание </th>
        </tr>
      </thead>
	  <tbody>
        <tr> <td> 1. </td> <td> id </td> <td> id </td> <td> Идентификатор справочника в сервисе терминологии </td> </tr>
        <tr> <td> 2. </td> <td> name </td> <td> string </td> <td> Название справочника в сервисе терминологии </td> </tr>
        <tr> <td> 3. </td> <td> short_name </td> <td> string </td> <td> Короткое название справочника в сервисе терминологии (используется в качестве идентификатора справочника в других операциях) </td> </tr>
        <tr> <td> 4. </td> <td> description </td> <td> string </td> <td> Описание справочника в сервисе терминологии </td> </tr>
        <tr> <td> 5. </td> <td> version </td> <td> string </td> <td> Версия справочника в сервисе терминологии </td> </tr>
        <tr> <td> 6. </td> <td> start_date </td> <td> datetime </td> <td> Дата начала действия справочника этой версии </td> </tr>
      </tbody>
    </table>

    <h3 id="lookup">Запрос элементов заданного справочника текущей или указанной версии</h3>
    <p>Метод предназначен для получения элементов справочника. Осуществляется с помощью GET-запроса по URL в формате [base]/api/v1/items/. Параметры запроса приведены ниже.</p>

    <h4>Описание параметров</h4>
    <p>Перечень параметров приведен в [Таблица 2].</p>
    <p><small><b>Таблица 2. Параметры запроса</b></small></p>
    <table class="table">
      <thead>
        <tr>
          <th> № </th>
          <th> Параметр </th>
          <th> Тип </th>
          <th> Описание </th>
        </tr>
      </thead>
	  <tbody>
        <tr> <td> 1. </td> <td> dir </td> <td> string </td> <td> Короткое название справочника </td> </tr>
        <tr> <td> 2. </td> <td> version </td> <td> string </td> <td> Версия справочника </td> </tr>
        </tbody>
    </table>

    <h4>Пример запроса</h4>
    <p>При запросе элементов в качестве адреса указывается URL в формате [base]/api/v1/items/?dir=id&version=value. В ответе сервис возвращает json с элементами указанного справочника.</p>
    <p>Запрос "[base]/api/v1/items/?dir=10&version=1.2" вернет элементы справочника с id = 10 версии "1.2".</p>
        <p>Запрос "[base]/api/v1/items/?dir=10" вернет элементы справочника с id = 10 последней версии.</p>

    <h4>Параметры ответа</h4>
    <p>Параметры ответа приведены в [Таблица 3].</p>
    <p><small><b>Таблица 3. Параметры ответа</b></small></p>
    <table class="table">
      <thead>
        <tr>
          <th> № </th>
          <th> Параметр </th>
          <th> Тип </th>
          <th> Описание </th>
        </tr>
      </thead>
	  <tbody>
        <tr> <td> 1.</td> <td> id </td> <td> id </td> <td> Идентификатор элемента </td> </tr>
        <tr> <td> 2.</td> <td> code </td> <td> string </td> <td> Код элемента </td> </tr>
        <tr> <td> 3.</td> <td> value </td> <td> string </td> <td> Значение элемента </td> </tr>
      </tbody>
    </table>

    <h3 id="validate">Валидация значения в справочнике</h3>
    <p>Метод предназначен для проверки: принадлежит ли код значения из запроса указанному справочнику. Валидация значения в справочнике осуществляется с помощью GET-запроса по URL в формате [base]/api/v1/valid/. Параметры запроса приведены ниже.</p>

    <h4>Описание параметров</h4>
    <p>Перечень параметров для валидации кода значения в справочнике приведен в [Таблица 4].</p>
    <p><small><b>Таблица 4. Параметры запроса</b></small></p>
    <table class="table">
    <thead>
      <tr>
          <th> № </th>
          <th> Параметр </th>
          <th> Тип </th>
          <th> Описание </th>
        </tr>
      </thead>
	  <tbody>
        <tr> <td> 1.</td> <td> dir </td> <td> string </td> <td> Короткое название справочника </td> </tr>
      <tr> <td> 2.</td> <td> code </td> <td> string </td> <td> Код элемента </td> </tr>
      <tr> <td> 3.</td> <td> version </td> <td> string </td> <td> Версия справочника </td> </tr>
      </tbody>
    </table>

    <h4>Пример запроса</h4>
    <p>При валидации значений справочника в качестве адреса указывается URL в формате [base]/api/v1/valid/?dir=id&code=value1&version=value2. В ответе сервис возвращает json с этим элементом, либо, если не найден такой элемент, возвращает null в полях.</p>
    <p>Запрос "[base]/api/v1/valid/?dir=10к&code=111" вернет элемент справочника с id = 10 текущей версии, у которого код равен 111, либо вернет json c полями null.</p>
     <p>Запрос "[base]/api/v1/valid/?dir=10&code=111&version=1" вернет элемент справочника  с id = 10 версии "1", у которого код равен 111, либо вернет json c полями null.</p>

    <h4>Параметры ответа</h4>
    <p>Параметры ответа приведены в [Таблица 5].</p>
    <p><small><b>Таблица 5. Параметры ответа</b></small></p>
    <table class="table">
    <thead>
      <tr>
          <th> № </th>
          <th> Параметр </th>
          <th> Тип </th>
          <th> Описание </th>
        </tr>
      </thead>
	  <tbody>
        <tr> <td> 1.</td> <td> id </td> <td> id </td> <td> Идентификатор элемента </td> </tr>
        <tr> <td> 2.</td> <td> code </td> <td> string </td> <td> Код элемента </td> </tr>
        <tr> <td> 3.</td> <td> value </td> <td> string </td> <td> Значение элемента </td> </tr>
      </tbody>
    </table>

</div>
</body>
</html>