<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Сервис терминологии</title>
</head>
<body>
<div class="well">
    <h2>Сервис "Сервис Терминологии"
        <!--<div class="btn-group pull-right">
            <button type="button" class="btn btn-link btn-link-n3 " data-toggle="dropdown">Версия: 0.0.1</button>
        </div>-->
    </h2>
    <p>Сервис Терминологии предоставляет собой механизм управления процессом ведения нормативно-справочной информации и обеспечивает функции ее интеграции между различными учетными и информационными системами, являясь единым источником непротиворечивой информации о справочниках.</p>          </div>

    <div class="navbar">
            <ul class="nav navbar-nav nav-pills">
              <li><a href="/admin">Административная панель</a></li>
              <li class="active"><a href="/docs">Документация API</a></li>
            </ul>
    </div>

</body>
</html>